<footer>
	<div class="container">
	<div class="asides clearfix">
		<aside class="logo"><svg></svg></aside>
		<aside>
			<nav>
				<ul>
					<li><a href="#/" class="searchbychar" href data-target="intro"><span>Home</span></a></li>
					<li><a href="#/" class="searchbychar" href data-target="experience"><span>Experience</span></a></li>
					<li><a href="#/" class="searchbychar" href data-target="about"><span>About</span></a></li>
					<li><a class="resume" href="../docs/resume.pdf" target="_blank"><span>Resume</span></a></li>
					<li><a href="mailto:sean09lee@gmail.com"><span>Contact</span></a></li>
				</ul>
			</nav>
		</aside>
	</div>
	<div class="copyright">
		<small>
		&copy; 2015, Created by Sean Lee<br><a href="http://seandlee.com">seandlee.com</a>
		</small>
	</div>
	</div>
</footer>