<header>   
	<nav id="nav-header">
		<div class="group-left">
			<a href="#/" class="searchbychar" href data-target="intro">
			<svg xmlns="http://www.w3.org/2000/svg" class="header-logo" 
			xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" 
			width="40" height="40" viewBox="0 0 40 40">
				<defs>
					<style>
					.cls-1, .cls-2 {
						font-size: 833.333px;
					}
				
					.cls-2 {
						fill: #fff;
						font-family: "Didot-Italic";
						font-style: italic;
					}
					</style>
				</defs>
				<text transform="translate(17 33) scale(0.03)" class="cls-1">
					<tspan class="cls-2 letter-L">L</tspan>
				</text>
				<text transform="translate(9 25) scale(0.03)" class="cls-1">
					<tspan class="cls-2 letter-S">S</tspan>
				</text>
				</a>
			</svg>
		</div>
		<div class="group-right">
			<ul>
				<li><a href="#/" class="searchbychar" href data-target="intro"><span>Home</span></a></li>
				<li><a href="#/" class="searchbychar" href data-target="experience"><span>Experience</span></a></li>
				<li><a href="#/" class="searchbychar" href data-target="about"><span>About</span></a></li>
				<li><a href="mailto:sean09lee@gmail.com"><span>Contact</span></a></li>
			</ul>
		</div>
	</nav>
</header>
<script src="../../js/scrollanimations.js"></script>