// Overwrite for phone
@media all and (min-width: 600px) {
  section {
    h1{
      font-size: 34px;
    }
    h2 {
      font-size: 26px;
    }
    p {
      font-size: 16px;  
    }
  }
  section.parallax {
    padding: 150px 0;
    h1 {
      font-size: 96px;  
    }
  }
}
