<div class="container">
	<h2>A bit about me</h2>
	<p>Having lived in Minnesota most of my life, I  
		I graduated from the Carlson School of Management in 2013 with a double major in MIS and Finance.</p>
	<p>I'm a nerd at heart and spend much of my free time checking out the latest gadgets in both real world applications and virtual ones.</p>
	<p>My second passion is traveling. I recently traveled to England and Paris and can't wait to see more of the world! Check out my blog here to see more!</p>
	<p>Last but not least, I love food! Check out my favorites here!</p>
</div>