<div class="container">
	<h2>A bit about me</h2>
	<p> I graduated from the Carlson School of Management in 2013 with a double major in MIS and Finance
		so after 4 years of school and a long childhood in snowy Minnesota, I couldn't wait to get out
		away from the winters. Naturally, much of my recent activity outside of work includes traveling
		and geeking out all over the world.</p>
	<p>Of course, being a nerd at heart, I continue to spend much of my free time checking out the
		latest gadgets in both real world applications and virtual ones. If you haven't seen it already, 
		I recommend checking out Microsoft's augmented reality headset the HoloLens 
		- real life Yu-Gi-Oh here we come!</p>
	<p>Last but not least, I love food! My general rule of thumb with food is try everything once. 
		Yes, it has gotten me into trouble but you only live once right? You can see some of my more
		adventurous foodie experiences below.</p>
</div>