<main>
	<section id="intro" class="module parallax parallax-gmi">
		<div class="container">
			<div class="right-col">
				<h1>General Mills</h1>
			</div>
		</div>
	</section>
	<section class="module content">
		<div class="container">
			<h2>General Mills, Inc</h2>
			<p>After interning twice as an applications developer, I went full-time in the fall of 2013. 
				Today, I continue to work at the General Mills headquarters in 
				Golden Valley, Minnnesota maintaining and creating web components 
				as well as major websites such as 
				<a href="www.boxtops4education.com">boxtops4education.com</a> and 
				<a href="www.tablespoon.com">tablespoon.com</a></p>
			<p>Working at a fortune 100, I have also quickly learned to work in large teams in both agile and
				traditional SDLC application development.</p>
			<p>Because my life isn't hectic enough, I'm also on the recruiting and code camp committee at GMI. And of course, volunteering
				is considered to be part of the General Mills life so I've seen my fair share of Feed My Starving Children.
			</p>
			<h3>Technical exprience</h3>
			<p>C#, .NET, KnockoutJS, LESS, Oracle, SQL, HTML, CSS</p>
		</div>
	</section>
</main>