<main>
<section id="intro" class="module parallax parallax-gmi">
	<div class="container">
		<div class="right-col">
			<h1>General Mills</h1>
		</div>
	</div>
</section>
<section class="module content">
	<h2><img ng-src="../img/icons/gmi_logo.jpg" class="wlogo"/>General Mills</h2>
	<a href="#generalmills">GMI YOOO</a>
	<p>I currently work as a full-time applications developer at General Mills. 
		In addition to maintaining and creating web components, I also work on their major websites 
		such as <a href="www.boxtops4education.com">boxtops4education.com</a> and 
		<a href="www.tablespoon.com">tablespoon.com</a></p>
	<h3>Technical exprience</h3>
	<p>C#, .NET, KnockoutJS, LESS, Oracle, SQL, HTML, CSS</p>
</section>
</main>