<main id="home">
    
<section id="intro" class="module parallax parallax-1">
	<div class="container">
		<div class="left-col">
			<a href="https://www.linkedin.com/in/sean09lee" target="_blank"><img ng-src="../img/sean_avatar.jpeg" class="avatar"/></a>
		</div>
		<div class="right-col">
			<h1>Sean Lee</h1>
			<h2>Techie, foodie, and aspiring full-stack developer</h2>
			<div class="intro_buttons">
				<a class="resume" href="../docs/resume.pdf" target="_blank"><span>Resume</span></a>
				<a href="mailto:sean09lee@gmail.com"><span>Contact</span></a>
			</div>
		</div>
	</div>
</section>

<section class="module content">
	<div class="container">
	<h2>A brief background</h2>
	<p>My interest in application development orginated from my passion for strategy games. 
		Between developing websites and contemplating the next best move, I often tend to get my tan from 
        the light of my laptop. My other passions include creating awesome 
		user experiences and playing any shiny tech gadgets that floats past my line of sight.</p>
	</div>
</section>

<hr>

<section id="experience" class="module content">
	<div class="container">
		<header class="">
			<h2>Work experience</h2>
		</header>
		<div class="flex-container">
		<article class="flex-inner first">
			<div class="content-block gmi">
				<div class="overlay">
					<div class="block-content">
						<div class="block-title">General Mills</div>
						<a class="block-button searchbychar" href="#generalmills" data-target="intro">View Experience</a>
						<div class="block-subtitle">Fortune 100</div>
					</div>
				</div>
			</div>
		</article>
		<article class="flex-inner second">    
			<div class="content-block sparkstarter">
				<div class="overlay">
					<div class="block-content">
						<div class="block-title">SparkStarter</div>
						<a class="block-button searchbychar" href="#sparkstarter" data-target="intro">View Experience</a>
						<div class="block-subtitle">Mobile Startup</div>
					</div>
				</div>
			</div>
		</article>
		</div>
	</div>
</section>

<section id="about" class="module parallax parallax-2">
	<div class="container">
	<h1>About</h1>
	</div>
</section>

<section class="module content">
	<div ng-include="'about.html'"></div>
	<div ng-include="'partials/gallery.html'"></div>
</section>

</main>