<main>
<section id="intro" class="module parallax parallax-1">
	<div class="container">
		<div class="left-col">
			<a href="https://www.linkedin.com/in/sean09lee" target="_blank"><img ng-src="../img/sean_avatar.jpeg" class="avatar"/></a>
		</div>
		<div class="right-col">
			<h1>Sean Lee</h1>
			<h2>Techie, foodie, and aspiring full-stack developer</h2>
			<div class="intro_buttons">
				<a class="resume" href="../docs/resume.pdf" target="_blank"><span>Resume</span></a>
				<a href="mailto:sean09lee@gmail.com"><span>Contact</span></a>
			</div>
		</div>
	</div>
</section>

<section class="module content">
	<div class="container">
	<h2>A brief background</h2>
	<p>My interest in web development stemmed from my passion for gaming. Between developing websites and playing video games, I admittedly spend most of my time in front of a screen. Some of my passions are writing clean code, creating sexy user experiences and filling up a fresh cup of coffee.</p>
	</div>
</section>

<hr>

<section id="experience" class="module content">
	<div class="container">
		<header class="">
			<h2>Work experience</h2>
		</header>
		<div class="flex-container">
		<article class="flex-inner first">
			<div class="content-block">
				<div class="block-title">General Mills</div>
				<a class="block-button" href="#generalmills">View Experience</a>
			</div>
		</article>
		<article class="flex-inner second">    
			<div class="content-block">
				<div class="block-title">SparkStarter</div>
				<a class="block-button" href="#sparkstarter">View Experience</a>
			</div>
		</article>
		</div>
	</div>
</section>

<section id="about" class="module parallax parallax-3">
	<div class="container">
	<h1>About</h1>
	</div>
</section>

<section class="module content">
	<div ng-include="'about.html'"></div>
	<div ng-include="'partials/gallery.html'"></div>
</section>
</main>