<!doctype html>
<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta name="author" content="Sean Lee">
  <meta name="keywords" content="HTML,CSS,JavaScript,.NET,C#,Oracle,SQL,Devloper">
  <meta name="description" content="All about techie, foodie, and future full-stack developer: Sean D Lee.">
  <link rel="apple-touch-icon" sizes="57x57" href="../img/icons/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../img/icons/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../img/icons/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../img/icons/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../img/icons/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../img/icons/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../img/icons/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../img/icons/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/icons/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../img/icons/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/icons/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../img/icons/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/icons/favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Sean D Lee</title>
 
  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/animations.css">
  <link rel="stylesheet" href="../css/parallax.css">
  

  <!-- js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
</head>
<body> 
    <div class="wrapper">   
        <nav>
            <ul>
                <li><a href="#" class="searchbychar" href data-target="intro"><span>Home</span></a></li>
                <li><a href="#" class="searchbychar" href data-target="about"><span>About</span></a></li>
                <li><a href="#" class="searchbychar" href data-target="experience"><span>Experience</span></a></li>
                <li><a href="#" class="searchbychar" href data-target="contact"><span>Contact</span></a></li>
            </ul>
        </nav>
        
        <main>
            <section id="intro" class="module parallax parallax-1">
                <div class="container">
                    <h1>Sean D Lee</h1>
                    <h2>Techie, foodie, and future full-stack developer</h2>
                    <div class="intro_buttons">
                        <a class="resume" href="">Resume</a>
                        <a class="contact" href="">Contact</a>
                    </div>
                </div>
            </section>
        
            <section class="module content">
                <div class="container">
                <h2>A brief background</h2>
                <p>My interest in web development stemmed from my passion for gaming. Between developing websites and playing video games, I admittedly spend most of my time in front of a screen. Some of my passions are writing clean code, creating sexy user experiences and filling up a fresh cup of coffee.</p>
                </div>
            </section>
        
            <section id="about" class="module parallax parallax-2">
                <div class="container">
                <h1>About</h1>
                </div>
            </section>
        
            <section class="module content">
                <div class="container">
                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
                </div>
            </section>
        
            <section id="experience" class="module parallax parallax-3">
                <div class="container">
                <h1>Experience</h1>
                </div>
            </section>
        
            <section class="module content">
                <div class="container">
                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
                </div>
            </section>
        </main>
        
        <footer>
            <div class="container">
            <div class="asides clearfix">
                <aside>
                <nav>
                    <ul>
                    <li><a href="http://www.seandlee.com/about">About</a></li>
                    <li><a href="http://www.seandlee.com/projects">Projects</a></li>
                    <li><a href="http://www.seandlee.com/contact">Contact</a></li>
                    </ul>
                </nav>
                </aside>
                <aside class="logo">
                <a href="http://www.seandlee.com/"><img alt="" onerror="this.src=logo.png" src="../img/icons/logo_glow.png"></a>
                </aside>
            </div>
            <div class="copyright">
                <small>
                &copy; 2015, Sean Lee<br><a href="http://seandlee.com">seandlee.com</a>
                </small>
            </div>
            </div>
        </footer><!-- /footer -->
    </div>
    <!-- js -->
    <!--<script src="../js/parallax.js"></script>-->
    <script src="../js/linkscroll.js"></script>
</body>
</html>
