<!doctype html>
<html lang="en" ng-app="personalApp">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta name="author" content="Sean Lee">
  <meta name="keywords" content="HTML,CSS,JavaScript,.NET,C#,Oracle,SQL,Devloper">
  <meta name="description" content="All about techie, foodie, and aspiring full-stack developer: Sean Lee.">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <title>Sean Lee</title>
 
  <!-- css -->
  <link rel='shortcut icon' type='image/x-icon' href='../img/icons/logo/logo.png' />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="../bower_components/blueimp-gallery/css/bootstrap-image-gallery.css">
  <link rel="stylesheet" href="../css/main.css">

  <!-- js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/blueimp-gallery/js/bootstrap-image-gallery.js"></script>
  <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
  <!--<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>-->
</head>
<body ng-controller="mainController"> 
    <div id="main" class="wrapper">
        <div ng-include="'partials/header.html'"></div>
        <div ng-view></div>
        <div ng-include="'partials/footer.html'"></div>
    </div>
    <!-- custom scripts -->
    <script src="../js/main.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/services.js"></script>
    <script src="../js/linkscroll.js"></script>
</body>
</html>
