<!doctype html>
<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta name="author" content="Sean Lee">
  <meta name="keywords" content="HTML,CSS,JavaScript,.NET,C#,Oracle,SQL,Devloper">
  <meta name="description" content="All about techie, foodie, and ambitious world-traveler: Sean D Lee.">
  <title>Sean D Lee</title>
 
  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/animations.css">
  <link rel="stylesheet" href="../css/parallax.css">
  

  <!-- js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
</head>
<body> 
    <div class="wrapper">   
        <nav>
            <ul>
                <li><a href="#"><span>Home</span></a></li>
                <li><a href="#"><span>Tutorials</span></a></li>
                <li><a href="#"><span>Snippets</span></a></li>
                <li><a href="#"><span>Articles</span></a></li>
                <li><a href="#"><span>Resources</span></a></li>
                <li><a href="#"><span>Contact</span></a></li>
            </ul>
        </nav>
        
        <main>
            <section id="intro" class="module parallax parallax-1">
                <div class="container">
                <h1>Sean Lee</h1>
                <h2>Applications Developer</h2>
                </div>
            </section>
        
            <section class="module content">
                <div class="container">
                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
                </div>
            </section>
        
            <section id="about" class="module parallax parallax-2">
                <div class="container">
                <h1>About</h1>
                </div>
            </section>
        
            <section class="module content">
                <div class="container">
                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
                </div>
            </section>
        
            <section id="experience" class="module parallax parallax-3">
                <div class="container">
                <h1>Experience</h1>
                </div>
            </section>
        
            <section class="module content">
                <div class="container">
                <h2>Lorem Ipsum Dolor</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consequuntur, nesciunt dicta, esse rem ducimus itaque quis. Adipisci ullam nam qui illum debitis sit ad in delectus, repudiandae non dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veritatis, facere aliquid itaque tempore consequatur nihil sint enim aliquam id saepe magnam totam repellat placeat a fugit nulla molestias voluptas.</p>
                </div>
            </section>
        </main>
        
        <footer>
            <div class="container">
            <div class="asides clearfix">
                <aside>
                <nav>
                    <ul>
                    <li><a href="http://www.seandlee.com/about">About</a></li>
                    <li><a href="http://www.seandlee.com/projects">Projects</a></li>
                    <li><a href="http://www.seandlee.com/contact">Contact</a></li>
                    </ul>
                </nav>
                </aside>
                <aside class="logo">
                <a href="http://www.seandlee.com/"><img alt="" onerror="this.src=logo.png" src="../img/icons/logo_glow.png"></a>
                </aside>
            </div>
            <div class="copyright">
                <small>
                &copy; 2015, Sean Lee<br><a href="http://seandlee.com">seandlee.com</a>
                </small>
            </div>
            </div>
        </footer><!-- /footer -->
    </div>
    <!-- js -->
    <script src="../js/parallax.js"></script>
</body>
</html>
