<main>
<section id="intro" class="module parallax parallax-gmi">
	<div class="container">
		<div class="right-col">
			<h1>SparkStarter</h1>
		</div>
	</div>
</section>
<section class="module content">
	<h2><img ng-src="../img/icons/sparkstarter/icon-small.png" class="wlogo"/>SparkStarter</h2>
    <p>On the side, I work as a senior developer for the fast-growing matchmaking startup 
        <a href="www.sparkstarter.com">SparkStarter</a>.</p>Most of this work is on the mobile side
        
    <h3>Technical exprience</h3>
    <p>AngularJS, SASS, PHP, SQL, HTML, CSS</p>
</section>
</main>