<main id="sparkstarter">
    <section id="intro" class="module parallax parallax-sparkstarter">
        <div class="container">
            <div class="right-col">
                <h1>SparkStarter</h1>
            </div>
        </div>
    </section>
    <section class="module content">
        <div class="container">
            <h2>SparkStarter, LLC</h2>
            <p>On the side, I work as a senior developer consultant for the fast-growing matchmaking startup 
                <a href="www.sparkstarter.com">SparkStarter</a>. In this fast-paced environment, I first 
                began working with a team of 3-4 developers back in the fall of 2014. Now, the team has grown to include upwards of 15 people.</p>
            <p>In case you haven't heard of SparkStarter, check out the tutorial or even better yet,
                download the app or take a look at our site - it's all free!</p>
            <h3>Technical experience</h3>
            <p>AngularJS, Vagrant, SASS, PHP, SQL, HTML, CSS</p>
        </div>
    </section>
</main>